@tbl-bg: #ddd;
@tbl-border: 1px solid @tbl-bg;
@col-width: 300px;

.panel {
    width: @col-width;
    display: inline-block;
    vertical-align: top;
}
.container.board {
    width: 100%;
    padding: 0 20px 20px;
}

.task {
    width: 100%;
}

.task:hover {
    cursor: pointer;
}

nav .container {
    width: 99%;
}
.container h1 {
    margin-top: 0;
}

nav.navbar {
    margin-bottom: 0;
}

.well {
    font-size: 12px;
}

textarea.form-control {
    resize: vertical;
}

select.form-control.limit {
    width: 100px;
}
select.form-control.inline {
    display: inline-block;
}

.task-list {
    list-style: none;
    padding: 0;
    min-height: 15px;
}

.placeholder {
    height: 37px;
    border-radius: 3px;
    border: 1px dashed @tbl-bg;
    margin: 0 0 20px 0;
}

.task-detail-modal-data {
    margin-left: 20px;
}
