<div class="modal fade" id="delete-board-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete board</h4>
            </div>
            <div class="modal-body">
                Are you sure you wish to delete this board?
                <br />
                (WARNING: This will delete all the categories and tasks inside it as well.)
            </div>
            <div class="modal-footer">
                <button id="delete-board-yes" class="btn btn-danger">Yes</button>
                <button id="delete-board-no" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
