{% extends "core/base.html" %}
{% block content %}
    <div class="container board">
        <h1>{{ title }}</h1>
        <a href="#" class="new-category" data-board="{{ id }}" data-toggle="modal" data-target="#new-category-modal">Add category</a>
        <p>{{ description }}</p>
        <div class="categories" data-board="{{ id }}">
        {% for c in categories %}
            <div class="panel panel-primary category" data-category="{{ c.id }}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ c.title }}</h3>
                    <div class="glyphicon glyphicon-resize-horizontal reorder"></div>
                    <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle category-dd" data-toggle="dropdown"><b class="caret"></b></a>
                        <ul class="dropdown-menu category-dd-menu" role="menu">
                            <li><a class="category-edit" href="#">Edit</a></li>
                            <li><a class="category-delete" href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="task-list">
                        {% for t in c.tasks %}
                            {% with t.title as title %}
                            {% with t.id as id %}
                                {% include "components/task.html" %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">
                    <a href="#" class="new-task" data-category="{{ c.id }}" data-toggle="modal" data-target="#new-task-modal">Add task</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% include "modals/new-task.html" %}
    {% include "modals/task-details.html" %}
    {% include "modals/new-category.html" %}
    {% include "popups/delete-category.html" %}
    {% include "modals/edit-category.html" %}
{% endblock %}
