{% extends "core/base.html" %}
{% block content %}
    <div class="container board">
        <h1>{{ title }}</h1>
        <a href="#" class="new-category" data-board-id="{{ id }}" data-toggle="modal" data-target="#new-category-modal">Add category</a>
        <p>{{ description }}</p>
        {% for c in categories %}
            {% include "components/category.html" %}
        {% endfor %}
    </div>
    {% include "modals/new-task.html" %}
    {% include "modals/task-details.html" %}
    {% include "modals/new-category.html" %}
{% endblock %}
