{% extends "core/base.html" %}
{% block content %}
    <div class="container">
        <h1>Boards</h1>
        <a href="#" class="new-board" data-toggle="modal" data-target="#new-board-modal">Add board</a>
        <div class="boards">
        {% for b in boards %}
                {% include "components/board-item.html" %}
        {% endfor %}
        </div>
    </div>
    {% include "modals/new-board.html" %}
    {% include "popups/delete-board.html" %}
    {% include "modals/edit-board.html" %}
{% endblock %}
