<div class="modal fade" id="task-details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="task-title"></h4>
            </div>
            <div class="modal-body">
                <strong>Description:</strong>
                <br />
                <div id="task-description"></div>

                <strong>Duration:</strong>
                <br />
                <div id="task-duration"></div>

                <strong>Assignee:</strong>
                <br />
                <div id="task-assignee"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger task-remove">Delete</button>
            </div>
        </div>
    </div>
